<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>AppGW debugging backend</title>
  </head>
  <body>
    <h1>HTTP request info</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
            {% for key, values in general.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{values}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>HTTP Request header</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Header Name</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
            {% for key, values in request_header.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{values}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

    <h1>Customized response</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Option</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Custom http code</td>
                <td>{{ status_code }}</td>
            </tr>
            <tr>
              <td>Sleep Time</td>
              <td>{{ sleep_time }}</td>
          </tr>
        </tbody>
      </table>
    <h1>Customized response header</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Header Name</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
            {% for key, values in response_header.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{values}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    <h1>Backend server host info</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
            {% for key, values in server.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{values}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>